.cart-container {
    width: 98%;
    max-width: 1200px;
    margin: 0 auto;
    /* border: 1px solid #ddd; */
    border-radius: 10px;
    /* position: fixed; Set the navbar to fixed position */
    /* overflow: hidden; */
    /* top: 0; Position the navbar at the top of the page */
    /* width: 100%; Full width */
}

.cart-items-list {
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}
  

.cart-container h2 {
    text-align: center;
}

.cart-container h1 {
    text-align: center;
}
  
.cart-container p {
    text-align: center;
    font-weight: bold;
    size: 3.2em;
}
  
.products-container {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}
  
.product {
    margin-bottom: 20px;
}
  
.product h3 {
    margin-bottom: 10px;
}
  
.add-to-cart-btn {
    background-color: rgb(124, 144, 112);
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.add-to-cart-btn:hover {
    background-color: #3e8e41;
}

.add-to-cart-btn:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }


.add-to-cart-btn b {
    color: #fff;
}


#checkout-btn {
    /* Estilos regulares del botón */
    background-color: #0e8003 ;
    color: #fff;
    padding: 5px 5px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    display: block;
    
    /* responsive */
    width: 100%;
    max-width: 200px; /* Ancho máximo del botón */
    margin-left: auto;
    margin-right: auto;
}
  
@media screen and (max-width: 600px) {
    #checkout-btn {
      max-width: 150px; /* Ancho máximo del botón en pantallas más pequeñas */
    }
}

#checkout-btn a{
    /* Estilos regulares del botón */
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 1em;
    
    /* responsive */
    width: 100%;
    max-width: 200px; /* Ancho máximo del botón */
    margin-left: auto;
    margin-right: auto;
}

#checkout-btn:hover {
    background-color: #1daa04;
}


.margen-carrito {
    width: 98%; /* Ancho del contenedor */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
}

.producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }


  .botoncheckout span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .botoncheckout span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .botoncheckout:hover span {
    padding-right: 25px;
  }
  
  .botoncheckout:hover span:after {
    opacity: 1;
    right: 0;
  }
  