.LogoInstagram{
    margin-top: 1vw;
    margin-bottom: 1vw;
    margin-right: 4vw;
    margin-left: 4vw;
    width: 2vw;
}

.LogoFacebook{
    margin-top: 1vw;
    margin-bottom: 1vw;
    margin-right: 4vw;
    margin-left: 4vw;
    width: 3.4vw;
}