.espacio {
  position: relative;
  display: block;
  clear: both;
  font-size: 13px;
  height: 0.7vw;
  color: #eeeeee;
  margin: 0;
  /* background: #92bd95; */
  background: #ffffff;
}

.espaciocolor {
  position: relative;
  display: block;
  clear: both;
  font-size: 13px;
  height: 0.7vw;
  color: #eeeeee;
  margin: 0;
  background: rgb(124, 144, 112);
  /* background: #ffffff; */
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.center {
  width: 100%;
  max-width: 18.75em;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.texto {
  line-height: 200%;
  color: rgb(147, 12, 12);
  font-family: 'Calibri';
  text-align: justify;
  font-size: 1.3vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
  margin-right: 4vw;
  margin-left: 4vw;
}


/*  */
.block-text__button-container, .block-text__text {
  margin-top: 1.2em;
  font-weight: 500;
}

.uk-text-center {
  text-align: center;
}

p {
  margin: 0;
}

element.style {
  color: #3f26a4;
  border: 0.0625em solid #3326a4;
}

.accesomenu {
  color: rgb(209, 59, 59);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  font-size: 2em;
}

.boton{
  background-color: #92bd95;
  border: none;
  padding: 0.7vw 0.7vw;
  text-align: center;
  display: flex;
  cursor: pointer;
  margin: auto;
  border-radius: 0.8em;
}

.boton a {
  font-family: 'Calibri';
  color: rgb(26, 106, 29);
  font-size: 1em;
  margin-left: 0.7em;
  margin-right: 0.7em;
}

.boton :hover{
  padding: 0.5vw;
}

.logo {
  color: rgb(26, 106, 29);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  font-size: 4vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
}



/* NUEVO CARRUSEL */

.carousel {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.carousel-slide {
  display: flex;
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

.carousel-slide img {
  width: 100%;
  height: auto;
}

/* Agrega estilos opcionales para los controles de navegación del carrusel */
.carousel-controls {
  text-align: center;
  margin-top: 10px;
}

.carousel-controls button {
  display: inline-block;
  margin: 0 5px;
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

.carousel-controls button:hover {
  background-color: #555;
}

/* Estilos para el carrusel en dispositivos móviles */
@media (max-width: 768px) {
  .carousel-slide {
    flex-wrap: wrap;
  }

  .carousel-slide img {
    width: 50%;
  }
}

/* Estilos para el carrusel en tabletas */
@media (max-width: 1024px) {
  .carousel-slide img {
    width: 33.33%;
  }
}


/* LOGO */

.section {
  text-align: center;
}

.section img {
  width: 100%;
  height: auto;
  max-width: 500px; /* Ajusta el ancho máximo según tus necesidades */
}

.section p {
  margin-top: 10px;
}


/* BOTÓN ACCESO AL MENÚ */
.button-section {
  text-align: center;
}

.button-section a {
  display: inline-block;
  background-color: #92bd95;
  color: rgb(26, 106, 29);
  padding: 10px 15px;
  text-decoration: none;
  transition: transform 0.3s;
  border-radius: 10px;
}

.button-section a:hover {
  transform: scale(1.03);
}