/* ESPACIOS DIVISORES */
.espacio {
  position: relative;
  display: block;
  clear: both;
  font-size: 13px;
  height: 0.7vw;
  color: #eeeeee;
  margin: 0;
  /* background: #92bd95; */
  /* background: #ffffff; */
}

.espaciocolor {
  position: relative;
  display: block;
  clear: both;
  font-size: 13px;
  height: 0.7vw;
  color: #eeeeee;
  margin: 0;
  background: rgb(124, 144, 112);
  /* background: #ffffff; */
}


/* LOGO */
.logo {
  text-align: center;
}

.logo img {
  width: 100%;
  height: auto;
  max-width: 300px;
}


/* TEXTO ACCESO AL MENÚ */
.accesomenu {
  color: rgb(209, 59, 59);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  font-size: 2em;
}


/* BOTÓN DE ACCESO AL MENÚ */
.botonacceso {
  text-align: center;
}

.botonacceso a {
  display: inline-block;
  background-color: #92bd95;
  color: rgb(26, 106, 29);
  padding: 10px 15px;
  text-decoration: none;
  transition: transform 0.3s;
  border-radius: 10px;
}

.botonacceso a:hover {
  transform: scale(1.03);
}

/* CARRUSEL */
.carousel {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.carousel-slide {
  display: flex;
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

.carousel-slide img {
  width: 100%;
  height: auto;
}

.carousel-controls {
  text-align: center;
  margin-top: 10px;
}

.carousel-controls button {
  display: inline-block;
  margin: 0 5px;
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

.carousel-controls button:hover {
  background-color: #555;
}

/* Estilos para el carrusel en dispositivos móviles */
@media (max-width: 768px) {
  .carousel-slide {
    flex-wrap: wrap;
  }

  .carousel-slide img {
    width: 50%;
  }
}

/* Estilos para el carrusel en tabletas */
@media (max-width: 1024px) {
  .carousel-slide img {
    width: 33.33%;
  }
}


/* TEMPORIZADOR */
#countdown {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: rgb(209, 59, 59);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
