.espacio {
    position: relative;
    display: block;
    clear: both;
    font-size: 0.8125em;
    height: 0.56em;
    color: #eeeeee;
    margin: 0;
    /* background: #92bd95; */
    background: #ffffff;
  }
  
  .espaciocolor {
    position: relative;
    display: block;
    clear: both;
    font-size: 0.8125em;
    height: 0.56em;
    color: #eeeeee;
    margin: 0;
    background: rgb(124, 144, 112);
    /* background: #ffffff; */
  }

/* FOTOS */
.margen {
  width: 90%; /* Ancho del contenedor */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0.25em;
}
  
/* Create four equal columns that sits next to each other */
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 0.25em;
}
  
.column img {
    margin-top: 0.5em;
    vertical-align: middle;
    width: 100%;
}
  
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 50em) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
}
  
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 37.5em) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
}


/* DESCRIPCIONES */
@media screen and (max-width: 47.5em){
.tipo { 
    text-align: center;
    display: block;
    /* font-weight: 400; */
    padding: 0em 0.6em 0;
    width: 100%;
    }
}

p {
    text-align: center;
    font-family: Calibri;
    font-style: italic;
    color: rgb(26, 106, 29);
    display: block;
    margin-left: 0em;
    /* padding: 0em 0.6em 0; */
    width: 100%;
}


/* ENCABEZADO */

h2 {
    color: rgb(124, 144, 112);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
    font-size: 3.2em;
    margin-top: 0.8em;
    /* margin-bottom: 0.4em; */
  }

h1 {
    color: rgb(209, 59, 59);
    font-family: Calibri;
    text-align: left;
    font-size: 2.7em;
    margin-top: 0.5em;
    /* margin-bottom: 0.4em; */
}








/* BARRA DE BÚSQUEDA */
.centrar {
  width: 40%; /* Ancho del contenedor */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
}

/* Style the search box */
#mySearch {
  margin-top: 1em;
  width: 100%;
  font-size: 28px;
  padding: 11px;
  border: 1px solid #ddd;
  text-align: center;
  border-radius: 20px;
  border-color: rgb(255, 255, 255);
}


/* Style the navigation menu */
#myMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
  border-radius: 10px;
  font-family: Calibri;
  /* font-style: italic; */
}

/* Style the navigation links */
#myMenu li a {
  padding: 12px;
  text-decoration: none;
  color: black;
  display: block
}

#myMenu li a:hover {
  background-color: #eee;
  border-radius: 10px;
}

/* Media query para pantallas pequeñas */
@media screen and (max-width: 600px) {
  .centrar {
    width: 90%;
  }

  #myMenu {
    flex-direction: column;
    align-items: center;
  }
}