.espacio {
    position: relative;
    display: block;
    clear: both;
    font-size: 1em;
    height: 0.7vw;
    color: #eeeeee;
    margin: 0;
    /* background: #92bd95; */
    background: #ffffff;
}
  
.espaciocolor {
    position: relative;
    display: block;
    clear: both;
    font-size: 1em;
    height: 0.7vw;
    color: #eeeeee;
    margin: 0;
    background: rgb(124, 144, 112);
    /* background: #ffffff; */
}

/* TEXTO INDTRODUCCIÓN */
.responsive-text {
    max-width: 100%;
  }
  
.responsive-text p {
    font-size: 16px;
    line-height: 1.5;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
    color: rgb(26, 106, 29);
    font-style: italic;
  }


.texto {
    line-height: 200%;
    color: rgb(26, 106, 29);
    font-style: italic;
    font-family: 'Calibri';
    text-align: center;
    font-size: 1.2em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 5em;
    margin-right: 5em;
}

/* w3 school */
.margen {
  width: 90%; /* Ancho del contenedor */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }