#barra {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f5d9d9;
  }
  
  #bar {
    float: left;
  } 
  
  li a {
    display: block;
    color: rgb(58, 44, 103);
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }